<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../Style Sheets/imagehandler.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</head>

<body>

    <!-- #region Menu -->
    <div class="wrapper">
        <div class="about">
            <div class="menu-btn">
                <ion-icon name="menu"></ion-icon>
            </div>
        </div>

        <div class="menu">
            <div class="close-menu">
                <ion-icon name="close"></ion-icon>
            </div>

            <div class="nav">
                <ul class="main-menu">
                    <li class="main-menu-item" onclick="Home()">
                        <a href="">Home</a>
                    </li>

                    <li class="main-menu-item">
                        <a href="">Portfolio &nbsp; <ion-icon name="add">
                            </ion-icon></a>
                        <ul class="submenu">
                            <li class="submenu-item" onclick="Dreams()">
                                <a href="">Liquid Dreams</a>
                            </li>
                            <li class="submenu-item" onclick="Panda()">
                                <a href="">Mint Panda</a>
                            </li>
                            <li class="submenu-item" onclick="Poly()">
                                <a href="">Poly Project</a>
                            </li>
                            <li class="submenu-item" onclick="XDPortfolio()">
                                <a href="">Adobe XD Portfolio</a>
                            </li>
                            <li class="submenu-item" onclick="Shape()">
                                <a href="">Shape Mobile Game Concept</a>
                            </li>
                            <li class="submenu-item more" id="More" onclick="PortfolioMore()">
                                <a href="">View More</a>
                            </li>
                        </ul>
                    </li>

                    <li class="main-menu-item">
                        <a href="">About &nbsp;<ion-icon name="add">
                            </ion-icon></a>
                        <ul class="submenu">
                            <li class="submenu-item" onclick="AboutMe()">
                                <a href="">About Me</a>
                            </li>
                            <li class="submenu-item" onclick="Credits()">
                                <a href="">Credits</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <p class="mail">
                    <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;&nbsp;joshuasdacruz@gmail.com
                </p>
            </div>

            <div class="media">
                <ul>
                    <li><a onclick="Twitter()">Twitter</a></li>
                    <li><a onclick="Behance()">Behance</a></li>
                    <li><a onclick="Instagram()">Instagram</a></li>
                    <li><a onclick="Dribble()">Dribbble</a></li>
                    <li><a onclick="ArtStation()">Artstation</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Images -->
    <div class="slide active">
        <div class="card">
            <div class="card-img" id="img01"></div>
            <div class="card-content">
                <p class="card-theme">3D Modeling / VFX </p>
                <h2 class="card-header">Liquid Dreams</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Eos possimus facere, facilis dicta neque
                    assumenda saepe esse quis deleniti. Placeat.
                </p>
                <p class="card-text">
                    These's project's are made with Blender, 3ds Max, and other 3D modeling software.
                </p>
                <a class="card-link">To Project's </a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="card">
            <div class="card-img" id="img02"></div>
            <div class="card-content">
                <p class="card-theme">WebDevelopment / Prototyping</p>
                <h2 class="card-header">Logo</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Eos possimus facere, facilis dicta neque
                    assumenda saepe esse quis deleniti. Placeat.
                </p>
                <p class="card-text">
                    These's project's are Illustrator, Adobe XD, and WebDevelopment.
                </p>
                <a href="" class="card-link">To Project</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="card">
            <div class="card-img" id="img03"></div>
            <div class="card-content">
                <p class="card-theme">Photography / Travel</p>
                <h2 class="card-header">3/AM Collection</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Eos possimus facere, facilis dicta neque
                    assumenda saepe esse quis deleniti. Placeat.
                </p>
                <p class="card-text">
                    Pictures i've taken while traveling through time.
                </p>
                <a href="" class="card-link">To Project</a>
            </div>
        </div>
    </div>
    <!-- #endregion Images -->

    <!-- #region  Slider Buttons-->
    <div class="btns">
        <button class="pn-btn" id="prev"></button>
        <button class="pn-btn" id="next"></button>
    </div>
    <!-- #endregion -->

    <!-- #region Scripts -->
    <script src="../js/menu.js"></script>
    <script src="../js/links.js"></script>
    <script src="../js/slider.js"></script>
    <!-- #endregion Scripts -->

</body>

</html>