<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</head>
<body>

    <!-- #region Main Content -->
    <div class="slide active">
        <div class="card">
            <div class="card-img" id="img01"></div>
            <div class="card-content">
                <p class="card-theme">Something</p>
                <h2 class="card-header">Amogus</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Eos possimus facere, facilis dicta neque 
                    assumenda saepe esse quis deleniti. Placeat.
                </p>
                <a href="" class="card-link">Open Project</a>
            </div>
        </div>
    </div>
    <!-- #endregion  -->
</body>
</html>